#body-disco {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(56,78,119,1) 35%, rgba(255,0,164,1) 100%);
    main h1{
        font-size: 100px;
        color: #E6F9AF;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .disco-title h1{
        font-size: 80px;
        color: #E6F9AF;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    .main-section-spotify{
        margin: 50px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .element {
        transition: transform 300ms ease-out;
      }
      
      .element:hover {
        transform: translate(0px, 0px) scale(1.2, 1.2);
      }
}